@font-face {
  font-family: "BeVitnamPro";
  src: url(asset/font/BeVietnamPro/BeVietnamPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "BeVitnamPro";
  src: url(asset/font/BeVietnamPro/BeVietnamPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "BeVitnamPro";
  src: url(asset/font/BeVietnamPro/BeVietnamPro-Bold.ttf);
  font-weight: 700;
}

*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "BeVitnamPro", sans-serif;
}

span {
  display: inline-block;
}

ul {
  list-style-type: none;
}

[data-animation="scale"] {
  opacity: 0;
  scale: 0.5;
  transition: 1s;
}

/* Fade in fadeIn */
[data-fadeIn="fadeIn"] {
  position: relative;
  opacity: 0;
  transition: 0.5s;
}

[data-fadeIn="left"] {
  position: relative;
  transform: translateX(30px);
  opacity: 0;
  transition: 0.5s;
}

[data-fadeIn="right"] {
  position: relative;
  transform: translateX(-30px);
  opacity: 0;
  transition: 0.5s;
}

.animated {
  opacity: 1;
  transform: translateX(0px);
  scale: 1;
}

.page-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 4rem;
  text-align: center;
}

.header + p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  margin: 1rem 0;
}

.changelog-verticle {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.changelog-verticle .changelogs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
}

.changelog-verticle .changelogs::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
  transform: translateX(50%);
  background-color: #333;
}

.changelog {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
}

.changelog .date {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.changelog .circle {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 100%;
  transform: translateX(50%);
}

.changelog .changelog-text {
  width: max-content;
  position: absolute;
  left: 100%;
  padding-left: 2rem;
  font-weight: 500;
}
